html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
  background-color: #007bff;
}

.thead-dark {
  color: #fff;
  background-color: #007bff;
}
